<div th:fragment="header">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">홈</a>
      <a th:if="${user != null}" href="/view/feed/best" type="button" class="btn btn-primary">베스트 피드</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/view/feed">피드 추가</a>
          </li>
          <li class="nav-item">
            <a th:if="${user.gradeVal != null and user.gradeVal == vip}"
               class="nav-link" href="/?feedType=random">
              랜덤 피드
            </a>


          </li>
          <li class="nav-item">
            <!-- 내 정보 페이지로 이동 -->
            <a th:if="${user != null}" th:href="@{/view/user/info/{id}(id=${user.id})}" class="nav-link">내 정보</a>
          </li>
          <li class="nav-item">
            <form th:if="${user != null}" th:action="@{/view/user/change-grade/{id}(id=${user.id})}" method="post">
              <button type="submit" class="btn btn-success">등급 변경</button>
            </form>
          </li>
        </ul>
        <form class="d-flex" role="search" method="get" action="/view/user/filter">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="name">
          <button class="btn btn-outline-success" type="submit">검색</button>
        </form>
        <li class="nav-item">
          <form th:if="${user != null}" th:action="@{/view/auth/logout}" method="post">
            <button type="submit" class="btn btn-danger">로그아웃</button>
          </form>
          <a th:if="${user == null}" href="/view/auth/login" type="button" class="btn btn-primary">로그인</a>
        </li>
      </div>
    </div>
  </nav>
</div>
